%header
  %picture
    %source{:media => "(min-width: 35.5em)", :srcset => "/img/leap180.png"}
    %img{:alt => "LEAP logo", :src => "/img/leap128.png"}
  %h1 LEAP Encryption Access Project
  %nav.nav-menu{:role => "navigation"}
    - top_navigation_items(include_home:true) do |item|
      %a.nav-item{:href => item[:href], :class => item[:class]}= item[:label]
